@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}
.wrapper{
    background: #fff;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
 
/* Users Aria For Chat */

.users{
    padding: 25px 30px ;
}

.users header ,
.users-list a{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}

:is(.users, .users-list) .content{
    display: flex;
    align-items: center;
}
.users header .content img{
    height: 50px;
    width: 50px;
}

:is(.users, .users-list) .details{
    margin-left: 15px;
    color: #000;
}

:is(.users, .users-list) .details span{
    font-size: 18px;
    font-weight: 500;
}

.users header .logout{
    background: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 7px 15px;

}

.users .search{
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.users .search .text{
    font-size: 18px;
}

.users .search input{
    position: absolute;
    height:42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.users .search button{
    width: 47px;
    height:42px;
    outline: none;
    border: none;
    color: #fff;
    background: #333;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 15px;
}

.users-list{
    max-height: 352px;
    overflow-y: auto;
}

.users-list::-webkit-scrollbar{
    width: 0px;
}

.users-list a{
    padding-right: 15px;
    margin-bottom: 15px;
    page-break-after: 10px;
    border-bottom-color: #f1f1f1 ;
}

.users-list a:last-child{
    border: none;
    margin-bottom: 0px;
}

.users-list a .content img{
    height: 40px;
    width: 40px;
}

.users-list a .content p{
    color: #67676a;
}

.users-list a .status-dot{
    font-size: 12px;
    color: #468669;
}

.users-list a .status-dot.offline{
    color: #ccc;
}

/* chat Area styles */

.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area header img{
    height: 45px;
    width: 45px;
    margin: 0 15px;
}
.chat-area header .back-icon{
    font-size: 18px;
    width: 45px;
}

.chat-area header span{
    font-size: 17px;
    font-weight: 500;
}

.chat-box{
    height: 500px;
    overflow-y: auto;
    background-color: #f7f7f7 ;
    padding: 10px 30px 20px 30px ;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0  5%), 
                inset 0 -32px 32px -32px rgb(0 0 0  5%) ;
}

.chat-box::-webkit-scrollbar{
    width: 0px;
}

.chat-box .chat{
    margin: 15px 0;
}
.chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow:  0 0 32px rgb(0 0 0  8%), 
                 0 16px 16px -16px rgb(0 0 0  10%) ;
}
.chat-box .outgoing{
    display: flex;
}

.outgoing .details{
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .details .all{
    background-color: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}
.outgoing .details .all .msg-data{
    margin-top: 10px;
    text-align: right;
    font-size: x-small;
}
.chat-box .incoming{
    display: flex;
    align-items: center;
}
.chat-box .incoming img {
    height:35px;
    width: 35px;
}

.incoming .details{
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}
.incoming .details .all{
    background: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0;
}
.incoming .details .all .msg-data{
    margin-top: 10px;
    text-align: right;
    font-size: x-small;
}

.chat-area .typing-area{
    padding:18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input{
    height: 45px;
    width: calc(100% - 58px);
    font-size: 16px;
    border: 1px solid #ccc;
    padding:0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button{
    width: 55px ;
    border: none;
    outline: none;
    background: rgb(13, 120, 192);
    color: #fff;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}